<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

  <section class="hero-section">
    {% if user.is_authenticated %}
        <h1>Welcome back, {{ user.get_full_name}}!</h1>

    {% if total_tasks > 0 %}
        {% if pending_tasks|length == 0 %}
        <p>You're all caught up! Create a new task: <a href="{% url 'task_create' %}">Create!</a></p>
        {% else %}
            <p>You're doing great! Here are your pending tasks:</p>
            <ul>
                {% for task in pending_tasks %}
                    <li>{{ task.title }} - Pending</li>
                {% endfor %}
                <p>Create another task! <a href="{% url 'task_create' %}">Create</a></p>
                <p> View all your tasks! <a href="{% url 'task_list' %}"> View </a></p>

            </ul>
        {% endif %}
    {% else %}
    <p>You have no tasks, add a new task! <a href="{% url 'task_create' %}">Create</a></p>
{% endif %}
    
    {% else %}
    <div class="cta-container">
      <h1>Task Your Life, One Step At a Time</h1>
      <p>Keep track of your tasks and stay productive. Sign up today!</p>
      <a href="{% url 'register' %}" class="cta-button">Create Account!</a>
    </div>
      
    {% endif %}
  </section>

  <section class="features-section">
    
    <div class="feature-cards">
      <div class="feature-card">
        <h2>Features</h2>
        <p>Manage your tasks, set deadlines, and stay organized.</p>
      </div>
      <div class="feature-card">
        <h2>Task Tracking</h2>
        <p>Keep track of your tasks and deadlines.</p>
      </div>
      <div class="feature-card">
        <h2>Organize Tasks</h2>
        <p>Organize your tasks by priority and due dates.</p>
      </div>
      <div class="feature-card">
        <h2>Progress Visualization</h2>
        <p>Get a visual summary of your progress over time.</p>
      </div>
    </div>
  </section>
{% endblock %}
